body.dark {
  /* Variables */
  --color--bg-default: hsl(0, 0%, 10%);
  --color--bg-elevated: hsl(0, 0%, 30%); 

  --color--fg-default: hsl(0, 0%, 100%);
  --color--fg-secondary: hsl(0, 0%, 80%);
  --color--fg-subtle: hsl(0, 0%, 60%);
}